#expirience-section, #education-section {
  background-color: $darkBlue;
  .section-title {
    background-color: $blue;
  }
}

.expirience-tech-used-container {
  img {
    height: 60px;
  }
  &:not(:last-child) {
    padding-right: 1.5em;
  }
}

.expirience-title {
  color: #fff;
  font-size: 20px;
}

.expirience-description {
  color: #fff;
}