$darkBlue: #2f4152;
$lightBlue: #68b3e4;
$blue: #3699db;

.mb-3em {
  margin-bottom: 3em;
}

.mb-4em {
  margin-bottom: 4em;
}

.pt-3em {
  padding-top: 3em;
}

.pt-4em {
  padding-top: 4em;
}

.no-padding {
  padding: 0;
}

i {
  color: #fff;
  padding-right: 0.5em;
}